@tailwind base;
@tailwind components;
@tailwind utilities;

.under::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    left: 0;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
}

.under:hover::before {
    width: 100%;
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

